// ---This whole entire thing was made by Alex/AHP---
// ---Credit will be given in comments if borrowed code appears---

// ---Imports---

@import "../node_modules/material-design-icons/iconfont/material-icons.css";

// ---Variables---

$bgClr: #ced4da;
$primeClr: #e9ecef;
$padDefault: 0.5rem;

// ---Mixins---

@mixin primeClr(){
  background-color: $primeClr;
}

@mixin bgClr(){
  background-color: $bgClr;
}

@mixin brdrB(){
  border-bottom: $padDefault / 2 solid rgba(0,0,0,0.6);
}

// ---CSS---

* {
  box-sizing: border-box;
}

body {
  @include primeClr;

  .container-fluid {
    color: #f9f9f9;
    padding: $padDefault;
    font-style: italic;
    text-shadow: 1px 1px #000;

    @include bgClr;
    @include brdrB;
  }

  .container {
    padding-top: $padDefault * 2;
    padding-bottom: $padDefault * 8;
    @include primeClr;

    .card {
      height: 30vh;

    }
  }
}